<mat-card class="mat-elevation-z8">
  <mat-card fxFlex="100" style="padding: 40px 40px">
    <mat-card-header class="custom-mat-card-header" fxLayout="row">
      <div fxFlex fxLayoutAlign="end">
      </div>
    </mat-card-header>
    <mat-card-content>
      <h4 class="sub-header mt-2">{{'investors.editor.ManagerProfile' | translate}}</h4>
      <form class="mt-2" [formGroup]="managerForm" novalidate fxLayout="column" autocomplete="off">
        <div fxLayout.gt-md="row" fxLayout.lt-md="column" class="manager-general-info">
          <div fxFlex.gt-md="80" fxFlex.lt-md="100">
            <div fxLayout="row wrap " fxLayoutAlign="" fxLayoutGap="2em">
              <mat-form-field fxFlex>
                <mat-label>{{'investors.editor.FirstName' | translate}}</mat-label>
                <input matInput formControlName="FirstName" required />
                <mat-error *ngIf="FirstName.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error>
                <mat-error *ngIf="!FirstName.hasError('required') && FirstName.hasError('minlength')">
                  {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                </mat-error>
                <mat-error *ngIf="!FirstName.hasError('required') && !FirstName.hasError('minlength')
                                                && FirstName.hasError('pattern')">
                  {{'common.validation.UseEthiopicOnly' | translate}}
                </mat-error>
                <mat-error *ngIf="!FirstName.hasError('required') && !FirstName.hasError('minlength')
                                                && !FirstName.hasError('pattern')&& FirstName.hasError('maxlength')">
                  {{'common.validation.MaxLengthNum' | translate: {'max':'100'} }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label>
                <input matInput formControlName="FatherName" required />
                <mat-error *ngIf="FatherName.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error>
                <mat-error *ngIf="!FatherName.hasError('required') && FatherName.hasError('minlength')">
                  {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                </mat-error>
                <mat-error *ngIf="!FatherName.hasError('required') && !FatherName.hasError('minlength')
                                                    && FatherName.hasError('pattern')">
                  {{'common.validation.UseEthiopicOnly' | translate}}
                </mat-error>
                <mat-error *ngIf="!FatherName.hasError('required') && !FatherName.hasError('minlength')
                                     && !FatherName.hasError('pattern')&& FatherName.hasError('maxlength')">
                  {{'common.validation.MaxLengthNum' | translate: {'max':'100'} }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label>
                <input matInput formControlName="GrandName" />
                <mat-error *ngIf="GrandName.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error>
                <mat-error *ngIf="!GrandName.hasError('required') && GrandName.hasError('minlength')">
                  {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                </mat-error>
                <mat-error *ngIf="!GrandName.hasError('required') && !GrandName.hasError('minlength')
                                                    && GrandName.hasError('pattern')">
                  {{'common.validation.UseEthiopicOnly' | translate}}
                </mat-error>
                <mat-error
                  *ngIf="!GrandName.hasError('required') && !GrandName.hasError('minlength')
                                                   && !GrandName.hasError('pattern')&& GrandName.hasError('maxlength')">
                  {{'common.validation.MaxLengthNum' | translate: {'max':'100'} }}
                </mat-error>
              </mat-form-field>
            </div>
             <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em">
              <mat-form-field fxFlex>
                <mat-label>{{'investors.editor.FirstNameEng' | translate }}</mat-label>
                <input matInput id="Name" formControlName="FirstNameEng" required />
                <mat-error *ngIf="FirstNameEng.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error>
                <mat-error *ngIf="!FirstNameEng.hasError('required') && !FirstNameEng.hasError('minlength')
                                                              && FirstNameEng.hasError('pattern')">
                  {{'common.validation.UseLatinOnly' | translate}}
                </mat-error>
                <mat-error *ngIf="!FirstNameEng.hasError('required')&&FirstNameEng.hasError('minlength')">
                  {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                </mat-error>
                <mat-error *ngIf="!FirstNameEng.hasError('required') && !FirstNameEng.hasError('minlength')
                                                                            && !FirstNameEng.hasError('pattern')&&
                                                                            FirstNameEng.hasError('maxlength')">
                  {{'common.validation.MaxLengthNum' | translate: {'max':'100'} }}
                </mat-error>
              </mat-form-field>
             <mat-form-field fxFlex>
                <mat-label> {{'investors.editor.FatherNameEng' | translate }} </mat-label>
                <input matInput id="FatherNameEng" formControlName="FatherNameEng" required />
                <mat-error *ngIf="FatherNameEng.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error>
                <mat-error *ngIf="!FatherNameEng.hasError('required')&&FatherNameEng.hasError('minlength')">
                  {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                </mat-error>
                <mat-error *ngIf="!FatherNameEng.hasError('required') && !FatherNameEng.hasError('minlength')
                                                              && FatherNameEng.hasError('pattern')">
                  {{'common.validation.UseLatinOnly' | translate}}
                </mat-error>
                <mat-error
                  *ngIf="!FatherNameEng.hasError('required') && !FatherNameEng.hasError('minlength')
                                && !FatherNameEng.hasError('pattern') && FatherNameEng.hasError('maxlength')">
                  {{'common.validation.MaxLengthNum' | translate: {'max':'100'} }}
                </mat-error>
              </mat-form-field>
             <mat-form-field fxFlex>
                 <mat-label> {{'investors.editor.GrandNameEng' | translate }} </mat-label> 
                 <input matInput  formControlName="GrandNameEng" required/>
                 <mat-error *ngIf="GrandNameEng.hasError('required')">
                    {{'common.validation.Required' | translate}}
                  </mat-error>
                 <mat-error *ngIf="!GrandNameEng.hasError('required') && !GrandNameEng.hasError('minlength')
                                                              && GrandNameEng.hasError('pattern')">
                    {{'common.validation.UseLatinOnly' | translate}}
                  </mat-error>
                 <mat-error *ngIf="!GrandNameEng.hasError('required')&&GrandNameEng.hasError('minlength')">
                    {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                  </mat-error>
                   <mat-error
                    *ngIf="!GrandNameEng.hasError('required') && !GrandNameEng.hasError('minlength') &&
                        GrandNameEng.hasError('maxlength')">
                    {{'common.validation.MaxLengthNum' | translate: {'max':'100'} }}
                  </mat-error>
              </mat-form-field>
            </div> 

            <div fxLayout="row wrap " fxLayoutAlign="" fxLayoutGap="2em">
              <mat-form-field  class="">
                <mat-label>{{'investors.editor.Title' | translate}}</mat-label>
                <mat-select formControlName="Title" [compareWith]="compareIds">
                  <mat-option *ngFor="let title of TitleLookup" [value]="title.LookupId">
                    {{title.English}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field  class="col4">
                <mat-label>{{'investors.editor.Gender' | translate}}</mat-label>
                <mat-select formControlName="Gender" required>
                  <mat-option *ngFor="let gender of genders" [value]="gender.Id">
                    {{gender.Desc}}
                  </mat-option>
                </mat-select>
                 <mat-error *ngIf="Gender.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error> 
              </mat-form-field>
              <mat-form-field >
                <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label>
                <mat-select formControlName="Nationality" required [compareWith]="compareIds">
                  <mat-option *ngFor="let country of nationList" [value]="country.id">
                    <span>{{country.descriptionEnglish}}</span>
                  </mat-option>
                </mat-select>
                 <mat-error *ngIf="Nationality.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error> 
              </mat-form-field>
              <!-- <mat-form-field>
              <mat-label>{{'investors.editor.BirthDate' | translate}}</mat-label>
              <input matInput id="BirthDate" [matDatepicker]="BirthDate" formControlName="BirthDate" required />
              <mat-datepicker-toggle matSuffix [for]="BirthDate"></mat-datepicker-toggle>
              <mat-datepicker #BirthDate></mat-datepicker>
              <mat-error *ngIf="birthDate.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="birthDate.hasError('max')">
                {{'common.validation.MinLengthChar' | translate}}
              </mat-error>
            </mat-form-field> -->
            </div>
          </div>
        </div>
        <h4 class="sub-header mt-2">{{'investors.editor.MangerAddress' | translate}}</h4>
        <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="manager-address-info">
          <div fxLayout="row wrap" fxLayoutGap="2em" class="mt-2">
            <mat-form-field>
              <mat-label>{{'investors.editor.Region' | translate}} </mat-label>
              <mat-select formControlName="RegionId" (selectionChange)="filterRegion($event.value)" required>
                <mat-option *ngFor="let reg of regions" [value]="reg.RegionId">
                  <span>{{reg.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="RegionId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.Zone' | translate}} </mat-label>
              <mat-select formControlName="ZoneId" (selectionChange)="filterZone($event.value)" required>
                <mat-option *ngFor="let zone of filteredZones" [value]="zone.ZoneId">
                  <span>{{zone.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ZoneId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.Woreda' | translate}}</mat-label>
              <mat-select formControlName="WoredaId" (selectionChange)="filterWoreda($event.value)" required>
                <mat-option *ngFor="let w of filteredWoredas" [value]="w.WoredaId">
                  <span>{{w.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="WoredaId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.Kebele' | translate}}</mat-label>
              <mat-select formControlName="KebeleId" required>
                <mat-option *ngFor="let keb of filteredKebeles" [value]="keb.KebeleId">
                  <span>{{keb.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="KebeleId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.HouseNo' | translate}}</mat-label>
              <input matInput formControlName="HouseNo" required />
              <mat-error *ngIf="houseNo.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.PhoneMobile' | translate}}</mat-label>
              <input matInput formControlName="CellPhoneNo" required />
              <mat-error *ngIf="CellPhoneNo.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="!CellPhoneNo.hasError('required') && CellPhoneNo.hasError('pattern')">
                {{'common.validation.NumberOnly' | translate}}
              </mat-error>
              <mat-error *ngIf="!CellPhoneNo.hasError('required')&&
                   !CellPhoneNo.hasError('pattern') && CellPhoneNo.hasError('minlength')">
                {{'common.validation.MinLengthNum' | translate: {'min':'10'} }}
              </mat-error>
              <mat-error *ngIf="!CellPhoneNo.hasError('required')&&
                   !CellPhoneNo.hasError('pattern') && CellPhoneNo.hasError('maxlength')">
                {{'common.validation.MaxLengthNum' | translate: {'max':'10'} }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>{{'investors.editor.Email' | translate}}</mat-label>
              <input type="email" matInput formControlName="Email" />

              <mat-error *ngIf="Email.hasError('email')">
                {{'common.validation.InvalidEmail' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>{{'investors.editor.PhoneDirect' | translate}}</mat-label>
              <input matInput formControlName="RegularPhone" />
              <mat-error *ngIf="TeleNo.hasError('pattern')">
                {{'common.validation.NumberOnly' | translate}}
              </mat-error>
              <mat-error *ngIf="!TeleNo.hasError('pattern')
                    && TeleNo.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min':'10'} }}
              </mat-error>
              <mat-error *ngIf="!TeleNo.hasError('pattern')
                    && TeleNo.hasError('maxlength')">
                {{'common.validation.MaxLengthChar' | translate: {'max':'10'} }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.Fax' | translate}}</mat-label>
              <input matInput formControlName="FaxNo" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.Pobox' | translate}}</mat-label>
              <input matInput formControlName="Pobox" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.OtherAddress' | translate}}</mat-label>
              <input matInput formControlName="OtherAddress" width="800px" />
            </mat-form-field>
          </div>
        </div>
        <!--      <div fxLayout="row"  fxLayoutGap="2em">-->
        <!--        <a *ngIf="parentComponent && !fillUserProfile" routerLink="/main/customer/manager/0">{{'service.AddMoreManagers'|translate}}</a>-->
        <!--      </div>-->

        <mat-card-actions fxLayoutAlign="end end">
          <button type="button" mat-stroked-button color="warn" (click)="back()">
            {{'common.commands.Back' | translate}}
          </button>
          <button *ngIf="isManagerCreate" [disabled]="managerForm.invalid" mat-raised-button color="primary"
            (click)="create()">
            {{'common.commands.Save' | translate}}
          </button>
          <button [disabled]="managerForm.invalid" *ngIf="isManagerUpdate"
          (click)="update()"
           mat-raised-button color="primary">
            {{'common.commands.Update' | translate}}
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>