<mat-card class="margin-2 padding-0" *ngIf="productData.length>0" >
  <mat-card-header>
    <mat-card-subtitle class="sub-title">List of product
   <mat-divider></mat-divider>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="spinner-container" *ngIf="loading ">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div> -->
    <mat-table #table [dataSource]="dataSource">
      <ng-container style="width: 10px !important;" matColumnDef="No">
        <mat-header-cell style="width: 10px !important;" *matHeaderCellDef>No</mat-header-cell>
        <mat-cell style="width: 10px !important;" *matCellDef="let productData;let i=index;">{{i + 1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ProductName">
        <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
        <mat-cell *matCellDef="let productData"> {{productData.ProductName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ProductQty">
        <mat-header-cell *matHeaderCellDef>Project Description</mat-header-cell>
        <mat-cell *matCellDef="let productData"> {{productData.ProductQty }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DomesticMarketShare">
        <mat-header-cell *matHeaderCellDef>Domestic Market Share</mat-header-cell>
        <mat-cell *matCellDef="let productData">
          {{productData.DomesticMarketShare}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ExportMarketShare">
        <mat-header-cell *matHeaderCellDef>Export Market Share</mat-header-cell>
        <mat-cell *matCellDef="let productData">
          {{productData.ExportMarketShare}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell fxFlex="15" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let productData;let i=index;">
          <div>
            <a class="pointer" mat-min-fab matTooltip="Click here to edit the product" (click)="onEditProduct(i,productData.ProjectOutputId)">
              <mat-icon color="primary" class="mat-18">edit</mat-icon>
              Edit
            </a>
            <a class="pointer" mat--mini-fab color="warn" matTooltip="Click here to delete the product"
              (click)="deleteProduct(i,productData.ProjectOutputId)">
              <mat-icon color="warn">delete</mat-icon>
              Delete
            </a>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card> 

<mat-card class="mat-elevation-z8" *ngIf="editMode">
  <mat-card-header class="custom-mat-card-header" fxLayout="row">
    <div fxFlex fxLayoutAlign="end">
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxFlex="50" style="padding: 10px 20px; border-right: 1px solid #eee;">
      <form [formGroup]="productForm" novalidate>
        <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em"
          *ngIf="ServiceId=='1234'">
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.Quarter' | translate}}</mat-label>
              <mat-select formControlName="Quarter" required>
                <mat-option *ngFor="let row of Quarter" [value]="row.Id">
                  <span>{{row.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.RegistrationYear' | translate}}</mat-label>
              <input placeholder="Registration Year* :" matInput formControlName="RegistrationYear"
                [matDatepicker]="RegistrationYear">
              <mat-datepicker-toggle matSuffix [for]="RegistrationYear"></mat-datepicker-toggle>
              <mat-datepicker #RegistrationYear></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.ProjectStatus' | translate}}</mat-label>
              <mat-select [disabled]="true" formControlName="ProjectStatus" required>
                <option value="0">--Select--</option>
                <label>Project Status</label>
                <mat-option *ngFor="let status of projectStatus" [value]="status.Id">
                  <span>{{status.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.ProductName' | translate}}</mat-label>
              <input type="text" matInput formControlName="ProductName">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.ProductQty' | translate}}</mat-label>
              <input type="number" matInput formControlName="ProductQty">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.ProductUnit' | translate}}</mat-label>
              <mat-select formControlName="ProductUnit" required>
                <option value="0">--Select--</option>
                <mat-option *ngFor="let unit of unitTypes" [value]="unit.Id">
                  <span>{{unit.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.DomesticMarketShare' | translate}}</mat-label>
              <input #DMS type="number" matInput formControlName="DomesticMarketShare"
                >
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.ExportMarketShare' | translate}}</mat-label>
              <input #EMS type="number" matInput formControlName="ExportMarketShare"
                >
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" [disabled]="!productForm.valid" (click)="onSubmit()">
              <mat-icon class="mat-18">done</mat-icon>
              {{editMode ? 'Save' : 'Add'}}
            </button>
          </div>

        </div>
      </form>
    </div>

    <div fxFlex="50" style="padding: 10px 20px; border-right: 1px solid #eee;">
      <form [formGroup]="productAmendForm" novalidate>
        <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em"
          *ngIf="ServiceId=='1234'">
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.Quarter' | translate}}</mat-label>
              <mat-select formControlName="Quarter" required>
                <mat-option *ngFor="let row of Quarter" [value]="row.Id">
                  <span>{{row.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.RegistrationYear' | translate}}</mat-label>
              <input placeholder="Registration Year* :" matInput formControlName="RegistrationYear"
                [matDatepicker]="RegistrationYear">
              <mat-datepicker-toggle matSuffix [for]="RegistrationYear"></mat-datepicker-toggle>
              <mat-datepicker #RegistrationYear></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.ProjectStatus' | translate}}</mat-label>
              <mat-select [disabled]="true" formControlName="ProjectStatus" required>
                <option value="0">--Select--</option>
                <label>Project Status</label>
                <mat-option *ngFor="let status of projectStatus" [value]="status.Id">
                  <span>{{status.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.ProductName' | translate}}</mat-label>
              <input type="text" matInput formControlName="ProductName">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.ProductQty' | translate}}</mat-label>
              <input type="number" matInput formControlName="ProductQty">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.ProductUnit' | translate}}</mat-label>
              <mat-select formControlName="ProductUnit" required>
                <option value="0">--Select--</option>
                <mat-option *ngFor="let unit of unitTypes" [value]="unit.Id">
                  <span>{{unit.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>{{'investors.editor.DomesticMarketShare' | translate}}</mat-label>
              <input #DMS type="number" matInput formControlName="DomesticMarketShare"
                [errorStateMatcher]="confirmValidParentMatcher">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.ExportMarketShare' | translate}}</mat-label>
              <input #EMS type="number" matInput formControlName="ExportMarketShare"
                [errorStateMatcher]="confirmValidParentMatcher">
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" [disabled]="!productForm.valid" (click)="onSubmit()">
              <mat-icon class="mat-18">done</mat-icon>
              {{editMode ? 'Save' : 'Add'}}
            </button>
          </div>

        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>