<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="InvestorName">
    <mat-header-cell *matHeaderCellDef>Investor Name</mat-header-cell>
    <mat-cell *matCellDef="let followups">{{followups.InvestorName}}</mat-cell>
  </ng-container>
  <!--<ng-container matColumnDef="AfterCarefinding">-->
  <!--<mat-header-cell *matHeaderCellDef>Findings</mat-header-cell>-->
  <!--<mat-cell *matCellDef="let followups">{{followups.AfterCarefinding}}</mat-cell>-->
  <!--</ng-container>-->
  <ng-container matColumnDef="AfterCareDecision">
    <mat-header-cell *matHeaderCellDef>Decision Made</mat-header-cell>
    <mat-cell *matCellDef="let followups">{{followups.AfterCareDecision}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="OfficerRemark">
    <mat-header-cell *matHeaderCellDef>Officer Remark</mat-header-cell>
    <mat-cell *matCellDef="let followups">{{followups.OfficerRemark}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
    <mat-cell *matCellDef="let followups">
      <!--<button mat-icon-button matTooltip = "Edit" > <mat-icon color="primary" (click)="editFollowup(followups)">edit</mat-icon></button>-->
      <button  mat-icon-button  (click)="delete(followups)" matTooltip="Delete"><mat-icon color="warn">delete</mat-icon></button>
    </mat-cell>
    <!--(click)="editContact(followups.FollowUpId)"
    (click)="deleteContact(followups.FollowUpId)"-->
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>
