<mat-card style="margin-top: 20px;">

  <mat-card-content style="margin-bottom: 30px;">
    <div style="margin-bottom: 40px;" fxLayout="margin-10 row wrap">
      <div class="project_table_wdg mat-elevation-z6">

        <ul>
          <li> Recommendation</li>

          <li style="padding: 12px 12px" class="message-body">
            There are multiple modules with names that only differ in casing.
            This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
            Use equal casing. Compare these module identifiers:
            There are multiple modules with names that only differ in casing.
            This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
            Use equal casing. Compare these module identifiers:
          </li>


        </ul>

        <ul>
          <li>Detail</li>
          <li><span class="header">Date :</span>Nov 12 2018</li>
          <li><span class="header">BY :</span>user</li>


        </ul>


      </div>
    </div>

  </mat-card-content>
</mat-card>
