<mat-card style="margin-top: 20px;">

  <mat-card-content style="margin-bottom: 30px;">
    <div style="margin-bottom: 40px;" fxLayout="margin-10 row wrap">
      <div class="project_table_wdg mat-elevation-z6">

        <ul>
          <li>Recommendation</li>

          <li style="padding: 12px 12px" class="message-body">
            This report has only investigated the commercial viability of the method of production;
            it has not made an assessment of the market demand or marketability of this product.
            It is recommended that these factors be assessed. Market demand should be quantified
            and analysed against production and set-up costs in order to establish the optimal
            scale of production. Further research is required to establish the validity of the
            claim that the smaller grain sizes resulting from the short,
            rapid cycle of the microwave sintering process are mechanically superior
            to conventionally-sintered ceramics as this will impact on the demand and marketability of this product.
          </li>


        </ul>

        <ul>
          <li>Detail</li>
          <li><span class="header">Date :</span>Nov 12 2018</li>
          <li><span class="header">BY :</span>User</li>


        </ul>


      </div>
    </div>

  </mat-card-content>
</mat-card>
