<!--<mat-progress-bar-->
<!--style="color: #0c97a8" *ngIf="!isLoggedIn"-->
<!--mode="buffer" [value]="" [bufferValue]=""-->
<!--&gt;</mat-progress-bar>-->

<!--  -->
<div  style="height:100px; background-color: #1e88e5; margin-left:-2.7%;margin-right:-2.7% ">
  <table style="text-align: center; border: none; margin: auto; color: white; ">
    <tr>
      <td style="width: 10%">
        <img width="80" src="/assets/logo/EIC2.png">
      </td>
      <td style="width:10%"></td>
      <td style="width: 60%">
        <h3  style="font-family: sans-serif; font-weight: bolder" >Ethiopian Investment Commission Online Portal
          
        </h3>
        <h3 style="font-weight: bolder">የኢትዮጵያ ኢንቨስትመንት ኮሚሽን የቀጥታ አገልግሎት ፖርታል
        </h3>
      </td>
      <td style="width:10%"></td>
      <td style="width: 10%">
        <img width="80" src="/assets/images/et.png">
      </td>
    </tr>
  </table>
</div>
<div *ngIf="isLoggedIn" fxLayout="row" fxLayoutAlign="space-around center" class="content"
     style="width: 90%; margin: auto">
  <p class="message-box warning" style="margin-top:5px; margin-bottom: 5px; font-size: small">
    Dear customer; you need to <a routerLink="/register">Register</a>
    and create an account in order to access our services. If you already have an account,
    please click <a routerLink="/login">Login</a> button, enter your user name and password and access the services of
    the portal.
  </p>
</div>
<app-service-list *ngIf="isLoggedIn"></app-service-list>
<!--<div class="container" style="margin: auto; width: 1000px">-->
<!--<br>-->
<!--<br>-->
<!--<h2>Our Address (አድራሻችን)</h2>-->
<!--<mat-divider></mat-divider>-->
<!--<div fxLayout="row" fxLayoutAlign="" class="content" style="margin-top: 0px; margin-bottom: 100px">-->
<!--<div class="blocks" fxFlex="70%" fxFlexOffset="10px">-->

<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<h4>Our Location</h4>-->
<!--</mat-card-header>-->
<!--<mat-card-content>-->
<!--<div class="address_card_content">-->
<!--<div class="col-md-6">-->
<!--<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"-->
<!--[zoomControl]="true">-->
<!--<agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"-->
<!--[label]="m.label">-->
<!--<agm-info-window>-->
<!--<strong>Ethiopian Investmnet Commission, Bole Road-->
<!--Addis Ababa, Ethiopia </strong>-->
<!--</agm-info-window>-->
<!--</agm-marker>-->
<!--</agm-map>-->
<!--</div>-->
<!--&lt;!&ndash; <div class="col-md-1"></div> &ndash;&gt;-->
<!--</div>-->
<!--</mat-card-content>-->
<!--</mat-card>-->
<!--</div>-->
<!--<div class="blocks" fxFlex="30%" fxFlexOffset="10px" style="vertical-align: top">-->

<!--<mat-card style="width: 250px; height: 320px; margin-right:20px">-->
<!--<mat-card-header>-->
<!--<h4>Our Contact Address</h4>-->
<!--</mat-card-header>-->
<!--<mat-card-content>-->
<!--<div class="col-md-5 address" style="margin-left: 5px">-->
<!--Email:<a href="mailto:info@eic.gov.et"> info@eic.gov.et</a>-->
<!--<br>Website: <a href="www.investethiopia.gov.et"> www.investethiopia.gov.et</a>-->
<!--<br> Mobile: <a href="tel:(+251) 11 551 0033"> (+251) 11 551 0033</a>-->
<!--<br> Tel: <a href="tel:(+251) 11 551 4396"> (+251) 11 551 4396</a> <br>-->
<!--<br> P.O. Box 2313-->
<!--<br> Addis Ababa, Ethiopia-->
<!--</div>-->
<!--</mat-card-content>-->
<!--</mat-card>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- </div>
</div> -->
