<!--<mat-progress-bar-->
<!--style="color: #0c97a8" *ngIf="!isLoggedIn"-->
<!--mode="buffer" [value]="" [bufferValue]=""-->
<!--&gt;</mat-progress-bar>-->

<!--  -->
<div  *ngIf="isLoggedIn"
     style="height:100px; background-color: #1565c0!important; margin-left:-2.7%;margin-right:-2.7% ">
  <table style="text-align: center; border: none; margin: auto; color: white; ">
    <tr>
      <td style="width: 10%">
        <img width="80" src="/assets/logo/EIC2.png">
      </td>
      <td style="width:10%"></td>
      <td style="width: 60%">
        <h3  style="font-family: sans-serif; font-weight: bolder" >Ethiopian Investment Commission Online Portal

        </h3>
        <h3 style="font-weight: bolder">የኢትዮጵያ ኢንቨስትመንት ኮሚሽን የቀጥታ አገልግሎት ፖርታል
        </h3>
      </td>
      <td style="width:10%"></td>
      <td style="width: 10%">
        <img height="35"  width="45" src="/assets/images/et.png">
      </td>
    </tr>
  </table>
</div>
<div *ngIf="isLoggedIn" fxLayout="row" fxLayoutAlign="space-around center" class="content"
     style="width: 90%; margin: auto">
  <p  class="custome-box1 message-box warning" style="margin-top:5px; margin-bottom: 5px; font-size: 14px">
    Dear customer; you need to <a routerLink="/register"><strong>Register</strong></a>
    and create an account in order to access our services. If you already have an account,
    please click <a routerLink="/login"><strong>Login</strong></a> button, enter your user name and password and access
    the services of
    the portal.
  </p>
</div>
<app-service-list *ngIf="isLoggedIn"></app-service-list>

