<mat-card style="margin: 20px;" *ngIf="1==1" class="dashboard-card">

  <mat-card-content class="dashboard-card-content">

    <mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="BusinessNameAmh">
        <mat-header-cell *matHeaderCellDef>የድርጅት/የግለሰብ ስም </mat-header-cell>
        <mat-cell *matCellDef="let selectedRegistrationList">
          {{selectedRegistrationList?.BusinessNameAmh}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Tin">
        <mat-header-cell *matHeaderCellDef>ቲን </mat-header-cell>
        <mat-cell *matCellDef="let selectedRegistrationList">
          {{selectedRegistrationList?.Tin}}
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="LicenceNumber">
         <mat-header-cell *matHeaderCellDef>License No</mat-header-cell>
         <mat-cell *matCellDef="let investors">
           {{selectedRegistrationList?.LicenceNumber}}
         </mat-cell>
       </ng-container>-->


      <ng-container matColumnDef="RegDate">
        <mat-header-cell *matHeaderCellDef>የምዝገባ ቀን </mat-header-cell>
        <mat-cell *matCellDef="let selectedRegistrationList">
          {{selectedRegistrationList.RegDate | date}}
        </mat-cell>
      </ng-container>



      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="25%">
          <!-- <button mat-button color="primary" (click)="editInvestor()">
             <mat-icon class="mat-button-icon">add</mat-icon>
             {{'common.commands.Add' | translate}}
           </button>-->
        </mat-header-cell>
        <mat-header-cell *matHeaderCellDef fxFlex="28%">
        </mat-header-cell>
        <mat-cell *matCellDef="let selectedRegistrationList" fxFlex="28%">
          <a class="margin-10 a-link pointer" matTooltip="Click her to for detail"
             (click)="select(selectedRegistrationList.Tin)">
            <mat-icon color="primary"></mat-icon>
            <span>አዲስ ንግድ ፍቃድ</span>
          </a>

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<mat-card class="margin-2" *ngIf="!investorShow">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">

    <div fxFlex="80">
      <!--<h5> Investor Name : {{invName}}</h5>-->
      <!--<h5 style="text-transform: capitalize;"> {{invName}}</h5>-->
    </div>
    <div fxFlex="18">
    </div>

  </div>


  <mat-divider></mat-divider>
  <mat-card-content>
    <!-- <div fxFlex="100%">

       <mat-card-actions class="margin-10">
         <button mat-raised-button="" (click)="back()" color="primary">
           <mat-icon class="mat-18">arrow_back</mat-icon>
           Back
         </button>
       </mat-card-actions>
     </div>-->
  </mat-card-content>
</mat-card>

