<mat-card class="mat-elevation-z8">
  <mat-card fxFlex="100">
    <mat-card-header class="custom-mat-card-header" fxLayout="row">
      <div fxFlex fxLayoutAlign="end">
      </div>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex="50" style="padding: 10px 20px; border-right: 1px solid #eee;">
        <form [formGroup]="profileViewForm" novalidate fxLayout="column" autocomplete="off">
          <h4 class="sub-header mt-2">{{'investors.editor.CompanyProfile' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.LegalStatus' | translate}}</mat-label>
              <mat-select formControlName="LegalStatus" [compareWith]="compareIds"
                 required>
                <mat-option *ngFor="let status of legalStatuses" [value]="status.Id">
                  <span>{{status.Desc}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.FormOfOwnership' | translate}} </mat-label>
              <mat-select formControlName="FormOfOwnership"
                [compareWith]="compareIds" required>
                <mat-option *ngFor="let item of formOfOwnershipList;" [value]="item.Id">
                  {{item.Desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'users.editor.TIN' | translate}}</mat-label>
              <input matInput formControlName="Tin" required />
            </mat-form-field>
          </div>
          <div id="divCompany" *ngIf="isCompanyView" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
            <mat-form-field [fxFlex]="32">
              <mat-label>{{'investors.editor.CompanyNameEng' | translate}}</mat-label>
              <input matInput formControlName="CompanyNameEng" required />
            </mat-form-field>
            <mat-form-field [fxFlex]="32">
              <mat-label>{{'investors.editor.CompanyName' | translate}}</mat-label>
              <input matInput formControlName="CompanyName" />
            </mat-form-field>
          </div>


          <div fxLayout="row wrap" fxLayoutAlign="" *ngIf="!isCompanyView" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Title' | translate}}</mat-label>
              <mat-select formControlName="Title" required>
                <mat-option *ngFor="let title of TitleLookup" [value]="title.LookupId">
                  {{title.English}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstName' | translate}}</mat-label>
              <input matInput id="FirstName" formControlName="FirstName" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label>
              <input matInput id="FatherName" formControlName="FatherName" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label>
              <input matInput id="GrandName" formControlName="GrandName" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" *ngIf="!isCompanyView" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstNameEng' | translate }}</mat-label>
              <input matInput id="FirstNameEng" formControlName="FirstNameEng" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.FatherNameEng' | translate }} </mat-label>
              <input matInput id="FatherNameEng" formControlName="FatherNameEng" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.GrandNameEng' | translate }} </mat-label>
              <input matInput id="GrandNameEng" formControlName="GrandNameEng" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Gender' | translate}}</mat-label>
              <mat-select formControlName="Gender" required [compareWith]="compareIds">
                <mat-option *ngFor="let gender of genders" [value]="gender.Id">
                  {{gender.Desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign=""  *ngIf="!isCompanyView" fxLayoutGap="2em" class="profile-registration">

            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label>
              <mat-select formControlName="Nationality" [compareWith]="compareIds">
                <mat-option *ngFor="let country of nationList" [value]="country.id">
                  <span>{{country.descriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <h4 class="sub-header mt-2">{{'investors.editor.AddressCaption' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Region' | translate}}</mat-label>
              <mat-select formControlName="RegionId" [compareWith]="compareIds"
                (selectionChange)="filterRegion($event.value)" required>
                <mat-option *ngFor="let reg of regions" [value]="reg.RegionId">
                  <span>{{reg.Description}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Zone' | translate}}</mat-label>
              <mat-select formControlName="ZoneId" (selectionChange)="filterZone($event.value)">
                <mat-option *ngFor="let zone of filteredViewZones" [value]="zone.ZoneId">
                  <span>{{zone.Description}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.WoredaAmharic' | translate}}</mat-label>
              <input matInput formControlName="WoredaId" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.WoredaEnglish' | translate}}</mat-label>
              <input matInput formControlName="WoredaEngId" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleAmharic' | translate}}</mat-label>
              <input matInput formControlName="KebeleId" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleEnglish' | translate}}</mat-label>
              <input matInput formControlName="KebeleEngId" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.HouseNo' | translate}}</mat-label>
              <input matInput formControlName="HouseNo" required />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Email' | translate}}</mat-label>
              <input matInput formControlName="Email" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneDirect' | translate}}</mat-label>
              <input matInput formControlName="TeleNo" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneMobile' | translate}}</mat-label>
              <input matInput formControlName="CellPhoneNo" required />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Fax' | translate}}</mat-label>
              <input matInput formControlName="Fax" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Pobox' | translate}}</mat-label>
              <input matInput formControlName="Pobox" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field [fxFlex]="41">
              <mat-label>{{'investors.editor.OtherAddress' | translate}}</mat-label>
              <input matInput formControlName="OtherAddress" width="800px" />
            </mat-form-field>
          </div>
        </form>
      </div>
      <div fxFlex="50" style="padding: 10px 20px; border-right: 1px solid #eee;">
        <form [formGroup]="profileTestForm" novalidate fxLayout="column" autocomplete="off">
          <h4 class="sub-header mt-2">{{'investors.editor.CompanyProfile' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.LegalStatus' | translate}}</mat-label>
              <mat-select formControlName="LegalStatus" [compareWith]="compareIds"
                (selectionChange)="statusChanged($event.value)" required>
                <mat-option *ngFor="let status of legalStatuses" [value]="status.Id">
                  <span>{{status.Desc}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.FormOfOwnership' | translate}} </mat-label>
              <mat-select formControlName="FormOfOwnership" (selectionChange)="onFormOfOwnershipChanged($event.value)"
                [compareWith]="compareIds" required>
                <mat-option *ngFor="let item of formOfOwnershipList;" [value]="item.Id">
                  {{item.Desc}}
                </mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'users.editor.TIN' | translate}} </mat-label>
              <input matInput formControlName="Tin" required />
              <mat-error *ngIf="Tin.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="!Tin.hasError('required') && Tin.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '10'} }}
              </mat-error>
              <mat-error *ngIf="!Tin.hasError('required') && !Tin.hasError('minlength') && Tin.hasError('maxlength')">
                {{'common.validation.MaxLengthChar' | translate: {'max': '10'} }}
              </mat-error>
              <mat-error
                *ngIf="!Tin.hasError('required') && !Tin.hasError('minlength') && !Tin.hasError('maxlength')&& Tin.hasError('pattern')">
                {{'common.validation.NumberOnly' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div id="divCompany" *ngIf="isCompany" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.CompanyNameEng' | translate}}</mat-label>
              <input matInput formControlName="CompanyNameEng" required />
              <mat-error *ngIf="CompanyNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="!CompanyNameEng.hasError('required') && CompanyNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!CompanyNameEng.hasError('required') && !CompanyNameEng.hasError('minlength')
                                                && CompanyNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field [fxFlex]="32">
              <mat-label>{{'investors.editor.CompanyName' | translate}}</mat-label>
              <input matInput formControlName="CompanyName" />
              <mat-error *ngIf="CompanyName.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="!CompanyName.hasError('required') && CompanyNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!CompanyName.hasError('required') && CompanyNameEng.hasError('minlength')
                              && CompanyName.hasError('maxlength')">
                {{'common.validation.MaxLengthChar' | translate: {'max': '100'} }}
              </mat-error>
              <mat-error *ngIf="!CompanyName.hasError('required')
                                                && CompanyName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
          </div>


          <div fxLayout="row wrap" fxLayoutAlign="" *ngIf="!isCompany" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Title' | translate}}</mat-label>
              <mat-select formControlName="Title">
                <mat-option *ngFor="let title of TitleLookup" [value]="title.LookupId">
                  {{title.English}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstName' | translate}}</mat-label>
              <input matInput id="FirstName" formControlName="FirstName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label>
              <input matInput id="FatherName" formControlName="FatherName" />
              <!-- <mat-error *ngIf="FatherName.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error> -->
              <mat-error *ngIf="FatherName.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FatherName.hasError('required') && !FatherName.hasError('minlength')
                                                                && FatherName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label>
              <input matInput id="GrandName" formControlName="GrandName" />
              <mat-error *ngIf="GrandName.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!GrandName.hasError('required') && !GrandName.hasError('minlength')
                                                                && GrandName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" *ngIf="!isCompany" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstNameEng' | translate }}</mat-label>
              <input matInput id="FirstNameEng" formControlName="FirstNameEng" />
              <mat-error *ngIf="FirstNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="!FirstNameEng.hasError('required') && !FirstNameEng.hasError('minlength')
                                                                && FirstNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.FatherNameEng' | translate }} </mat-label>
              <input matInput id="FatherNameEng" formControlName="FatherNameEng" />
              <!-- <mat-error *ngIf="FatherNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error> -->
              <mat-error *ngIf="FatherNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FatherNameEng.hasError('required') && !FatherNameEng.hasError('minlength')
                                                                && FatherNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.GrandNameEng' | translate }} </mat-label>
              <input matInput id="GrandNameEng" formControlName="GrandNameEng" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Gender' | translate}}</mat-label>
              <mat-select formControlName="Gender" [compareWith]="compareIds">
                <mat-option *ngFor="let gender of genders" [value]="gender.Id">
                  {{gender.Desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" *ngIf="!isCompany" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label>
              <mat-select formControlName="Nationality" [compareWith]="compareIds">
                <mat-option *ngFor="let country of nationList" [value]="country.id">
                  <span>{{country.descriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <h4 class="sub-header mt-2">{{'investors.editor.AddressCaption' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Region' | translate}}</mat-label>
              <mat-select formControlName="RegionId" [compareWith]="compareIds"
                (selectionChange)="filterRegion($event.value)" required>
                <mat-option *ngFor="let reg of regions" [value]="reg.RegionId">
                  <span>{{reg.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="RegionId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Zone' | translate}}</mat-label>
              <mat-select formControlName="ZoneId" required (selectionChange)="filterZone($event.value)">
                <mat-option *ngFor="let zone of filteredZones" [value]="zone.ZoneId">
                  <span>{{zone.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ZoneId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.WoredaAmharic' | translate}}</mat-label>
              <input matInput formControlName="WoredaId" />
              <mat-error *ngIf="WoredaId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.WoredaEnglish' | translate}}</mat-label>
              <input matInput formControlName="WoredaEngId" />
              <mat-error *ngIf="WoredaEngId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleAmharic' | translate}}</mat-label>
              <input matInput formControlName="KebeleId" />
              <mat-error *ngIf="KebeleId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleEnglish' | translate}}</mat-label>
              <input matInput formControlName="KebeleEngId" />
              <mat-error *ngIf="KebeleEngId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.HouseNo' | translate}}</mat-label>
              <input matInput formControlName="HouseNo" />
              <mat-error *ngIf="HouseNo.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Email' | translate}}</mat-label>
              <input matInput formControlName="Email" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneDirect' | translate}}</mat-label>
              <input matInput formControlName="TeleNo" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneMobile' | translate}}</mat-label>
              <input matInput formControlName="CellPhoneNo" required />
              <mat-error *ngIf="CellPhoneNo.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Fax' | translate}}</mat-label>
              <input matInput formControlName="Fax" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Pobox' | translate}}</mat-label>
              <input matInput formControlName="Pobox" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field [fxFlex]="41">
              <mat-label>{{'investors.editor.OtherAddress' | translate}}</mat-label>
              <input matInput formControlName="OtherAddress" width="800px" />
            </mat-form-field>
          </div>
          <mat-card-actions fxLayoutAlign="end end">
            <button [disabled]="profileTestForm.invalid"
            mat-raised-button color="primary" *ngIf="!updateData"
              (click)="create()">{{'common.commands.Save'|translate}}</button>
            <button [disabled]="profileTestForm.invalid" mat-raised-button color="primary" *ngIf="updateData"
              (click)="update()">{{'common.commands.Update'|translate}}</button>
          </mat-card-actions>
        </form>
      </div>
      <!-- SECOND FORM STARTS HERE -->
    </mat-card-content>
  </mat-card>
</mat-card>
