<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0">
  <div class="block" fxFlex="">
    <app-page-header title="projectrenewal" icon=""></app-page-header>

  </div>
  <!-- <div id="title1" class="block" fxFlex="50">
    <span class="page-title">{{title}}</span>
    <span class="slideBorder">/</span>
    <span class="page-title">{{investorName}}</span>
    <span class="slideBorder">/</span>
    <span class="page-title">{{projectName}}</span>


  </div> -->
</div>
<mat-tab-group #stepper>
  <!--<mat-tab label="Service List" *ngIf="isInvestor">-->
  <!--<ng-template matTabContent >-->
  <!--<app-project-list></app-project-list>-->
  <!--</ng-template>-->
  <!--</mat-tab>-->
  <mat-tab *ngIf="isInvestor"  label="Service Info">
    <ng-template matTabContent>
      <app-service-info></app-service-info>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="!isInvestor" label="After Care Recommendation">
    <ng-template matTabContent>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="15">
              <button class="next-button" (click)="back()" type="button">
                Back
              </button>
            </div>
            <div style="text-align: center" fxFlex="75" fxFlexAlign="center">
            </div>
            <div fxFlex="10">
              <button class="next-button" (click)="next()" color="primary" type="button">
                Next
              </button>
            </div>
          </div>
      <app-aftercare-recommendation></app-aftercare-recommendation>
    </ng-template>
  </mat-tab>

  <mat-tab label="Document">
    <ng-template matTabContent>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="15">
              <button class="next-button" (click)="back()" type="button">
                Back
              </button>
            </div>
            <div style="text-align: center" fxFlex="75" fxFlexAlign="center">
            </div>
            <div fxFlex="10">
              <button class="next-button" (click)="next()" color="primary" type="button">
                Next
              </button>
            </div>
          </div>
      <mat-card *ngIf="!isInvestor" class="margin-2 simple-card">
        <mat-card-header>
          <mat-card-subtitle class="sub-title"></mat-card-subtitle>
          <button class="margin-10 certificate-title" mat-raised-button=""
                  (click)="addMessage()" color="primary">
            Add Message
          </button>
        </mat-card-header>
      </mat-card>
      <app-service-prerequisite></app-service-prerequisite>
    </ng-template>
  </mat-tab>

  <mat-tab  label="Project Renewal">
      <ng-template matTabContent>
          <div fxLayout="row" fxLayoutAlign="center">
              <div fxFlex="15">
                <button class="next-button" (click)="back()" type="button">
                  Back
                </button>
              </div>
              <div style="text-align: center" fxFlex="75" fxFlexAlign="center">
              </div>
              <div fxFlex="10">
                <!-- <button class="next-button" (click)="next()" color="primary" type="button"> -->
                  Next
                </button>
              </div>
            </div>
        <app-project-renewal></app-project-renewal>
      </ng-template>
    </mat-tab>

  <mat-tab *ngIf="!isInvestor"  [disabled]="nextIndex<4"  label="Payment">
    <ng-template matTabContent>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="15">
              <button class="next-button" (click)="back()" type="button">
                Back
              </button>
            </div>
            <div style="text-align: center" fxFlex="75" fxFlexAlign="center">
            </div>
            <div fxFlex="10">
              <button class="next-button" (click)="next()" color="primary" type="button">
                Next
              </button>
            </div>
          </div>
         <app-payment></app-payment>
    </ng-template>
  </mat-tab>

   <mat-tab *ngIf="!isInvestor && isRenewal"  [disabled]="nextIndex <5" label="Certificate">
    <ng-template matTabContent>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="15">
              <button class="next-button" (click)="back()" type="button">
                Back
              </button>
            </div>
            <div style="text-align: center" fxFlex="75" fxFlexAlign="center">
            </div>
            <div fxFlex="10">
              <button class="next-button" (click)="next()" color="primary" type="button">
                Next
              </button>
            </div>
          </div>
      <app-certificate></app-certificate>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="isInvestor" [disabled]="nextIndex<3" label="Confirmation">
    <ng-template matTabContent>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="15">
              <button class="next-button" (click)="back()" type="button">
                Back
              </button>
            </div>
            <div style="text-align: center" fxFlex="75" fxFlexAlign="center">
            </div>
            <div fxFlex="10">
              <button class="next-button" (click)="next()" color="primary" type="button">
                Next
              </button>
            </div>
          </div>
      <app-service-confirmation></app-service-confirmation>
    </ng-template>
  </mat-tab>
  <!--Fire Make this Comment-->
  <!--<mat-tab *ngIf="!isInvestor" label="Letter">-->
  <!--<ng-template matTabContent>-->
  <!--<app-letter></app-letter>-->
  <!--</ng-template>-->
  <!--</mat-tab>-->
</mat-tab-group>

