<!--<app-page-header title="Followup" icon="people"></app-page-header>-->

<div [@fadeInOut] class="page-content margin-2 mat-elevation-z8">

      <!--<button mat-button (click)="addfollowup()">Add</button>-->

  <!--<form #form="ngForm" [formGroup] = "followUpForm" novalidate (ngSubmit)="onSubmit()"-->
        <!--fxLayout="column"-->
        <!--autocomplete="off">-->

    <!--<div style="margin-top: 10px" fxLayout="row" fxLayoutGap="2em" class="row">-->
      <!--<mat-label>Follow Up</mat-label>-->
    <!--</div>-->
    <!--<pre>{{followUpForm.value | json }}</pre>-->
    <!--<div style="margin-top: 10px" fxLayout="row" fxLayoutGap="2em" class="row">-->
      <!--<mat-form-field fxFlex>-->
        <!--<mat-label name="lblRegDate">Followup Date</mat-label>-->
        <!--<input [matDatepicker]="FollowupDate" matInput formControlName="FollowupDate"/>-->
        <!--<mat-datepicker-toggle matSuffix [for]="FollowupDate"></mat-datepicker-toggle>-->
        <!--<mat-datepicker #FollowupDate></mat-datepicker>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field fxFlex>-->
        <!--<mat-label>Investor Name/ Legal Representative</mat-label>-->
        <!--<input matInput formControlName="investorName"  required/>-->
        <!--<mat-error align="start" *ngIf="errorMsg.investorName">{{errorMsg.investorName}}</mat-error>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field fxFlex>-->
        <!--<mat-label>Services</mat-label>-->
        <!--<mat-select formControlName="serviceName" required>-->
          <!--<option value="0">&#45;&#45;Select&#45;&#45;</option>-->
          <!--<mat-option *ngFor="let ser of service" [value]="ser.Id">-->
            <!--<span>{{ser.DescriptionEnglish}}</span>-->
          <!--</mat-option>-->
        <!--</mat-select>-->
        <!--&lt;!&ndash;<mat-error align="start" *ngIf="formErrors.ProductUnit">{{ formErrors.ProductUnit }}</mat-error>&ndash;&gt;-->
      <!--</mat-form-field>-->


    <!--</div>-->
    <!--<div style="margin-top: 10px" fxLayout="row" fxLayoutGap="2em" class="row">-->

      <!--<mat-form-field fxFlex>-->
        <!--<mat-label>Followup Finding</mat-label>-->
        <!--<textarea  aria-multiline="true" matInput="multiline" formControlName="findings" required></textarea>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field fxFlex>-->
        <!--<mat-label>Officer Remark</mat-label>-->
        <!--<textarea matInput formControlName="OfficerRemark"></textarea>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field fxFlex>-->
        <!--<mat-label>Decision Made:</mat-label>-->


        <!--<mat-select formControlName="DecisionMade" >-->
          <!--<option value="0">&#45;&#45;Select&#45;&#45;</option>-->
          <!--<mat-option *ngFor="let dec of decision" [value]="dec.Id">-->
            <!--<span>{{dec.DescriptionEnglish}}</span>-->
          <!--</mat-option>-->
        <!--</mat-select>-->
        <!--&lt;!&ndash;<mat-error align="start" *ngIf="formErrors.ProductUnit">{{ formErrors.ProductUnit }}</mat-error>&ndash;&gt;-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <!--<mat-divider></mat-divider>-->
    <!--<div mat-dialog-actions style="margin: 15px; text-align: center">-->
      <!--<button mat-raised-button type="submit" color="primary" style="margin-right: 10px">-->
        <!--{{'common.commands.Save' | translate}}-->
      <!--</button>-->
    <!--</div>-->
  <!--</form>-->
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="InvestorName">
      <mat-header-cell *matHeaderCellDef>Investor Name</mat-header-cell>
      <mat-cell *matCellDef="let followups">{{followups.InvestorName}}</mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="AfterCarefinding">-->
    <!--<mat-header-cell *matHeaderCellDef>Findings</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let followups">{{followups.AfterCarefinding}}</mat-cell>-->
    <!--</ng-container>-->
    <ng-container matColumnDef="AfterCareDecision">
      <mat-header-cell *matHeaderCellDef>Decision Made</mat-header-cell>
      <mat-cell *matCellDef="let followups">{{getDecision(followups.DecisionMade)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="OfficerRemark">
      <mat-header-cell *matHeaderCellDef>Officer Remark</mat-header-cell>
      <mat-cell *matCellDef="let followups">{{followups.OfficerRemark}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell [fxFlex]="20" *matHeaderCellDef>Action
        <button style="margin-left: 50px;" mat-button color="primary" (click)="addfollowup()">
          <mat-icon class="mat-button-icon">add</mat-icon>
          {{'common.commands.Add' | translate}}
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let followups">
        <button mat-icon-button matTooltip = "Edit" > <mat-icon color="primary" (click)="editFollowup(followups)">edit</mat-icon></button>
        <button  mat-icon-button  (click)="delete(followups)" matTooltip="Delete"><mat-icon color="warn">delete</mat-icon></button>
      </mat-cell>
      <!--(click)="editContact(followups.FollowUpId)"
      (click)="deleteContact(followups.FollowUpId)"-->
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

</div>

