<!-- <footer class="app-footer">
    <div class="app-footer-link">
       <table>
           <tr>
               <td>
                    <img width="150px" height="60px" src="../../../assets/logo/EIC.jpg">
               </td>
               <td style="vertical-align: top">
                    <span>EIC Online Service</span> &copy; {{getYear()}}
               </td>
               <td style="width: 700px">
               </td>
               <td style="vertical-align: top;text-align: right">
                    <a href="https://custor.net" target="_blank">www.custor.net</a>
               </td>
           </tr>
       </table>
    </div>
</footer> -->

<div style="background-color: #2D323E; color: whitesmoke; height: 60px; text-align: center; font-size:smaller">
  <br>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
    &copy; {{getYear()}}. Ministry of Trade and Industry. All Rights Reserved.
  </div>

</div>
