<!-- ============== COMMENTED BY FETIHA ================ -->
<!-- <mat-toolbar mat-dialog-title>
  <h1 mat-dialog-title>
    <mat-icon>create</mat-icon>
    {{('letterTemplate.Header' | translate)}}
  </h1>
</mat-toolbar> -->
<!-- ============== END OF COMMENT BY FETIHA ================ -->
<mat-card class="mat-elevation-z8" *ngIf="editMode || addMode">
  <mat-card-content>
    <div fxFlex="100" style="padding: 10px 20px; border-right: 1px solid #eee;">
      <form [formGroup]="letterTemplateForm" novalidate>
        <mat-card-content>
          <div fxLayout.xs="row wrap" fxLayoutAlign.xs="start center" fxLayoutGap="2em">
            <div class="block" fxLayoutGap="2em">
              <mat-form-field style="width: 250px;padding: 10px;">
                <mat-label>{{'letterTemplate.LetterType' | translate}}</mat-label>
                <mat-select formControlName="LetterType" style="font-family: Calibri" type="text"
                            [compareWith]="compareIds" required>
                  <option value="0">--Select--</option>
                  <mat-option *ngFor="let LetterType of Lookups" [value]="LetterType.LookupId">
                    <span>{{LetterType.English}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)" style="padding: 10px;">
                <mat-checkbox formControlName="IsActive">
                  IsActive?
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div fxLayout.xs="row wrap" fxLayoutAlign.xs="start center" fxLayoutGap="2em"
               style="padding: 10px;" fxFill="100">
            <ejs-richtexteditor id='apiRTE' #apiRTE  [showCharCount]='true' [value]='rteValue'>
            </ejs-richtexteditor>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">

            <div class="block" fxFlex="10%">
              <button class="custom-button" (click)="onSubmit()">
                <mat-icon color="accent" class="mat-18">done</mat-icon>
                {{editMode ? 'Update' : 'Save'}}
              </button>
            </div>

          </div>
        </mat-card-content>

      </form>
    </div>
  </mat-card-content>
  <!--<angular-editor id="editor1" formControlName="htmlContent1" [config]="editorConfig"></angular-editor>-->
</mat-card>
<!--*ngIf="LetterTemplateModels.length>0"-->
<mat-card class="mat-elevation-z8 " style="margin-top: 2em" >
  <mat-card-header>
    <mat-card-subtitle class="sub-title">List of Letter Template
      <button  class="custom-button pull-right" (click)="addLetter()"
               style="margin-left: 59em">ADD</button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="spinner-container" *ngIf="loading ">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="LetterType">
        <mat-header-cell *matHeaderCellDef fxFlex="50">Letter Type</mat-header-cell>
        <mat-cell *matCellDef="let LetterTemplateModels" fxFlex="50"> {{LetterTemplateModels.LetterType}}
        </mat-cell>
      </ng-container>
      <!--<ng-container matColumnDef="Title" >-->
      <!--<mat-header-cell *matHeaderCellDef fxFlex="20" >Title</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let LetterTemplateModels" fxFlex="20"> {{LetterTemplateModels.Title  }}</mat-cell>-->
      <!--</ng-container>-->
      <!--<ng-container matColumnDef="ToOrg" >-->
      <!--<mat-header-cell *matHeaderCellDef fxFlex="8"> ToOrg</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let LetterTemplateModels" fxFlex="8"> {{LetterTemplateModels.ToOrg }}</mat-cell>-->
      <!--</ng-container>-->
      <ng-container matColumnDef="Action">
        <mat-header-cell fxFlex="18" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell fxFlex="18" *matCellDef="let LetterTemplateModels;let i=index;">
          <div>
            <a class="pointer" mat-min-fab matTooltip="Click here to edit the product"
               (click)="onEditLetterTemplate(i)">
              <mat-icon color="primary" class="mat-18">edit</mat-icon>
              Edit
            </a>
            <a class="pointer" mat--mini-fab color="warn" matTooltip="Click here to delete the product"
               (click)="deleteLetterTemplate(i,LetterTemplateModels.IncentiveRequestItemId)">
              <mat-icon color="warn">delete</mat-icon>
              Delete
            </a>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
