<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0">
  <div class="block" fxFlex="">
    <app-page-header title="customerRegistration" icon="people"></app-page-header>

  </div>
  <div id="title1" class="block" fxFlex="50">
    <span style="text-transform: capitalize;" class="page-title">Full Name: {{userName}}</span>
  </div>
</div>

<mat-tab-group #stepper [selectedIndex]="registrationIndex">

  <mat-tab label="Investor">
    <ng-template matTabContent>
      <app-edit-investor></app-edit-investor>
    </ng-template>
  </mat-tab>

  <mat-tab label="Manager" [disabled]="nextIndex <2 || hasInvestor==null ">
    <ng-template matTabContent>
      <app-associate-form></app-associate-form>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="isInvestor" [disabled]="nextIndex<3"
           label="Message">
    <ng-template matTabContent>


      <app-page-header title="Confirm" icon="error"></app-page-header>
      <div [@fadeInOut] class="page-content mat-elevation-z8 margin-2" fxLayout="column" fxLayoutAlign="center center">

        <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
          <div class="info-nag">
            <div class="info-split info-info"><i></i></div>
            <div class="info-text">Dear customer; Thank you for registering. <br>
              Your Profile registration is completed now you can apply for new investment permit!!
            </div>
            <br>
          </div>
        </div>
      </div>

    </ng-template>
  </mat-tab>
</mat-tab-group>

