<mat-card-header class="custom-mat-card-header" *ngIf="!viewOnly" fxLayout="row" style="margin-top: 20px;">
  <div fxFlex="50" fxLayoutAlign="start">
    <h3>Product Form</h3>
  </div>
</mat-card-header>

<mat-card class="mat-elevation-z8" *ngIf="viewOnly" style="margin-top: 20px;">
  <mat-card-header>
    <mat-card-subtitle class="sub-title">List of product
      <mat-divider></mat-divider>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="spinner-container" *ngIf="loading ">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div> -->
    <mat-table #table [dataSource]="dataSource">
      <ng-container style="width: 10px !important;" matColumnDef="No">
        <mat-header-cell style="width: 10px !important;" *matHeaderCellDef>No</mat-header-cell>
        <mat-cell style="width: 10px !important;" *matCellDef="let projectProductData;let i=index;">{{i + 1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ProductName">
        <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
        <mat-cell *matCellDef="let projectProductData"> {{projectProductData.ProductName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ProductQty">
        <mat-header-cell *matHeaderCellDef>Project Description</mat-header-cell>
        <mat-cell *matCellDef="let projectProductData"> {{projectProductData.ProductQty }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DomesticMarketShare">
        <mat-header-cell *matHeaderCellDef>Domestic Market Share</mat-header-cell>
        <mat-cell *matCellDef="let projectProductData">
          {{projectProductData.DomesticMarketShare}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ExportMarketShare">
        <mat-header-cell *matHeaderCellDef>Export Market Share</mat-header-cell>
        <mat-cell *matCellDef="let projectProductData">
          {{projectProductData.ExportMarketShare}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>






<mat-card class="mat-elevation-z8" *ngIf="!viewOnly">
  <mat-card-header class="custom-mat-card-header" fxLayout="row">
    <div fxFlex fxLayoutAlign="end">
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxFlex="100" style="padding: 10px 20px; border-right: 1px solid #eee;">
      <form [formGroup]="productForm" novalidate>
          <div fxLayout="row wrap" *ngIf="!viewOnly" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column"
            fxLayoutGap="2em">
            <mat-form-field>
              <mat-label>Quarter</mat-label>
              <mat-select formControlName="Quarter" required>
                <mat-option *ngFor="let row of Quarter" [value]="row.Id">
                  <span>{{row.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input placeholder="Registration Year* :" matInput formControlName="RegistrationYear"
                [matDatepicker]="RegistrationYear">
              <mat-datepicker-toggle matSuffix [for]="RegistrationYear"></mat-datepicker-toggle>
              <mat-datepicker #RegistrationYear></mat-datepicker>
          
            </mat-form-field>
            <mat-form-field>
              <mat-label>ProjectStatus</mat-label>
              <mat-select formControlName="ProjectStatus" required>
                <mat-option *ngFor="let status of projectStatus" [value]="status.Id">
                  <span>{{status.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Decision</mat-label>
              <mat-select formControlName="Decision" required>
                <mat-option *ngFor="let status of projectStatus" [value]="status.Id">
                  <span>{{status.DescriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <div fxLayout="row wrap" fxLayoutAlign="start" class="content" fxLayout.lt-sm="column" fxLayoutGap="2em">
          <mat-form-field>
            <mat-label>{{'investors.editor.ProductName' | translate}}</mat-label>
            <input type="text" matInput formControlName="ProductName" required>
            <mat-error *ngIf="ProductName.hasError('required')">
              {{'common.validation.Required' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'investors.editor.ProductQty' | translate}}</mat-label>
            <input type="number" matInput formControlName="ProductQty">
            <mat-error *ngIf="ProductQty.hasError('required')">
              {{'common.validation.Required' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'investors.editor.ProductUnit' | translate}}</mat-label>
            <mat-select formControlName="ProductUnit" required>
              <option value="0">--Select--</option>
              <mat-option *ngFor="let unit of unitTypes" [value]="unit.Id">
                <span>{{unit.DescriptionEnglish}}</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="ProductUnit.hasError('required')">
              {{'common.validation.Required' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'investors.editor.DomesticMarketShare' | translate}}</mat-label>
            <input #DMS type="number" matInput formControlName="DomesticMarketShare"
              [errorStateMatcher]="confirmValidParentMatcher">
            <mat-error *ngIf="DomesticMarketShare.hasError('required')">
              {{'common.validation.Required' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'investors.editor.ExportMarketShare' | translate}}</mat-label>
            <input #EMS type="number" matInput formControlName="ExportMarketShare"
              [errorStateMatcher]="confirmValidParentMatcher">
            <mat-error *ngIf="ExportMarketShare.hasError('required')">
              {{'common.validation.Required' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <mat-card-actions fxLayoutAlign="center end">
          <button mat-raised-button color="primary" *ngIf="!updateData" [disabled]="!productForm.valid "
            (click)="create()">
            {{'common.commands.Save'|translate}}
          </button>
          <button mat-raised-button color="primary" 
           *ngIf="updateData" [disabled]="!productForm.valid " color="primary"
            (click)="update()">
            {{'common.commands.Update'|translate}}
        </button>
          <button mat-raised-button (click)="back()">
            <span>{{'common.commands.Back'|translate}}</span>
          </button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card-content>
</mat-card>