<mat-card class="mat-elevation-z8">
  <mat-card fxFlex="100">
    <mat-card-header class="custom-mat-card-header" fxLayout="row">
      <div fxFlex fxLayoutAlign="end">
      </div>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex="50" style="padding: 10px 20px; border-right: 1px solid #eee;">
        <form [formGroup]="profileViewForm" novalidate fxLayout="column" autocomplete="off">
          <h4 class="sub-header mt-2">{{'investors.editor.CompanyProfile' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.LegalStatus' | translate}}</mat-label>
              <mat-select formControlName="legalStatus" [compareWith]="compareIds"
                (selectionChange)="statusChanged($event.value)" required>
                <mat-option *ngFor="let status of legalStatuses" [value]="status.Id">
                  <span>{{status.Desc}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.FormOfOwnership' | translate}} {{formOfOwnership}}</mat-label>
              <mat-select formControlName="formOfOwnership" (selectionChange)="onFormOfOwnershipChanged($event.value)"
                [compareWith]="compareIds" required>
                <mat-option *ngFor="let item of formOfOwnershipList;" [value]="item.Id">
                  {{item.Desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'users.editor.TIN' | translate}}</mat-label>
              <input matInput formControlName="Tin" required />
            </mat-form-field>
          </div>
          <h4 class="sub-header mt-2">{{'investors.editor.ManagerProfile' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Title' | translate}}</mat-label>
              <mat-select formControlName="Title" required>
                <mat-option *ngFor="let title of TitleLookup" [value]="title.LookupId">
                  {{title.English}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstName' | translate}}</mat-label>
              <input matInput id="FirstName" formControlName="FirstName" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label>
              <input matInput id="FatherName" formControlName="FatherName" required />
              <mat-error *ngIf="FatherName.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="FatherName.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FatherName.hasError('required') && !FatherName.hasError('minlength')
                                                                && FatherName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label>
              <input matInput id="GrandName" formControlName="GrandName" />
              <mat-error *ngIf="GrandName.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="GrandName.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!GrandName.hasError('required') && !GrandName.hasError('minlength')
                                                                && GrandName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstNameEng' | translate }}</mat-label>
              <input matInput id="FirstNameEng" formControlName="FirstNameEng" required />
              <mat-error *ngIf="FirstNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="FirstNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FirstNameEng.hasError('required') && !FirstNameEng.hasError('minlength')
                                                                && FirstNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.FatherNameEng' | translate }} </mat-label>
              <input matInput id="FatherNameEng" formControlName="FatherNameEng" required />
              <mat-error *ngIf="FatherNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="FatherNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FatherNameEng.hasError('required') && !FatherNameEng.hasError('minlength')
                                                                && FatherNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.GrandNameEng' | translate }} </mat-label>
              <input matInput id="GrandNameEng" formControlName="GrandNameEng" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Gender' | translate}}</mat-label>
              <mat-select formControlName="Gender" required [compareWith]="compareIds">
                <mat-option *ngFor="let gender of genders" [value]="gender.Id">
                  {{gender.Desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
      
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label>
              <mat-select formControlName="Nationality" [compareWith]="compareIds">
                <mat-option *ngFor="let country of nationList" [value]="country.id">
                  <span>{{country.descriptionEnglish}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <h4 class="sub-header mt-2">{{'investors.editor.MangerAddress' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Region' | translate}}</mat-label>
              <mat-select formControlName="RegionId" [compareWith]="compareIds" (selectionChange)="filterRegion($event.value)"
                required>
                <mat-option *ngFor="let reg of regions" [value]="reg.RegionId">
                  <span>{{reg.Description}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Zone' | translate}}</mat-label>
              <mat-select formControlName="ZoneId" (selectionChange)="filterZone($event.value)">
                <mat-option *ngFor="let zone of filteredZones" [value]="zone.ZoneId">
                  <span>{{zone.Description}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.WoredaAmharic' | translate}}</mat-label>
              <!-- <input matInput formControlName="Woreda" required />
                      <mat-error *ngIf="WoredaId.hasError('required')">
                        {{'common.validation.Required' | translate}}
                      </mat-error> -->
              <mat-select formControlName="WoredaId" required (selectionChange)="filterWoreda($event.value)"
                [compareWith]="compareIds">
                <mat-option *ngFor="let w of filteredWoredas" [value]="w.WoredaId">
                  <span>{{w.Description}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field fxLayoutGap="4em">
                      <mat-label>{{'investors.editor.WoredaEnglish' | translate}}</mat-label>
                      <input matInput formControlName="WoredaEngId" required />
                      <mat-error *ngIf="WoredaEngId.hasError('required')">
                        {{'common.validation.Required' | translate}}
                      </mat-error>
                    </mat-form-field> -->
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
      
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleAmharic' | translate}}</mat-label>
              <mat-select formControlName="KebeleId">
                <mat-option *ngFor="let keb of filteredKebeles" [value]="keb.KebeleId">
                  <span>{{keb.Description}}</span>
                </mat-option>
              </mat-select>
              <!-- <input matInput formControlName="Kebele" required />-->
            </mat-form-field>
            <!-- <mat-form-field fxLayoutGap="4em">
                      <mat-label>{{'investors.editor.KebeleEnglish' | translate}}</mat-label>
                      <input matInput formControlName="KebeleEngId" required />
                      <mat-error *ngIf="KebeleEngId.hasError('required')">
                        {{'common.validation.Required' | translate}}
                      </mat-error>
                    </mat-form-field> -->
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.HouseNo' | translate}}</mat-label>
              <input matInput formControlName="HouseNo" required />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Email' | translate}}</mat-label>
              <input matInput formControlName="Email" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneDirect' | translate}}</mat-label>
              <input matInput formControlName="Tele" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneMobile' | translate}}</mat-label>
              <input matInput formControlName="MobilePhone" required />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Fax' | translate}}</mat-label>
              <input matInput formControlName="Fax" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Pobox' | translate}}</mat-label>
              <input matInput formControlName="PoBox" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field [fxFlex]="41">
              <mat-label>{{'investors.editor.OtherAddress' | translate}}</mat-label>
              <input matInput formControlName="OtherAddress" width="800px" />
            </mat-form-field>
          </div>
        </form>
      </div>
      <div fxFlex="50" style="padding: 10px 20px; border-right: 1px solid #eee;">
        <form [formGroup]="profileForm" novalidate  fxLayout="column" autocomplete="off">
          <h4 class="sub-header mt-2">{{'investors.editor.CompanyProfile' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.LegalStatus' | translate}}</mat-label>
              <mat-select formControlName="legalStatus" [compareWith]="compareIds"
                (selectionChange)="statusChanged($event.value)" required>
                <mat-option *ngFor="let status of legalStatuses" [value]="status.Id">
                  <span>{{status.Desc}}</span>
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="legalStatus.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error> -->
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.FormOfOwnership' | translate}} {{formOfOwnership}}</mat-label>
              <mat-select formControlName="formOfOwnership" (selectionChange)="onFormOfOwnershipChanged($event.value)"
                [compareWith]="compareIds" required>
                <mat-option *ngFor="let item of formOfOwnershipList;" [value]="item.Id">
                  {{item.Desc}}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="FormOfOwnership.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error> -->

            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'users.editor.TIN' | translate}}</mat-label>
              <input matInput formControlName="Tin" required />
              <mat-error *ngIf="!Tin.hasError('required') && Tin.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '10'} }}
              </mat-error>
              <mat-error *ngIf="!Tin.hasError('required') && !Tin.hasError('minlength') && Tin.hasError('maxlength')">
                {{'common.validation.MaxLengthChar' | translate: {'max': '10'} }}
              </mat-error>
              <mat-error *ngIf="!Tin.hasError('required') && !Tin.hasError('minlength') && Tin.hasError('pattern')">
                {{'common.validation.NumberOnly' | translate}}
              </mat-error>
              <!-- // to-do apply server side validation -->
            </mat-form-field>
          </div>
          <h4 class="sub-header mt-2">{{'investors.editor.ManagerProfile' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Title' | translate}}</mat-label>
              <mat-select formControlName="Title" required>
                <mat-option *ngFor="let title of TitleLookup" [value]="title.LookupId">
                  {{title.English}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Title.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstName' | translate}}</mat-label>
              <input matInput id="FirstName" formControlName="FirstName" required />
              <mat-error *ngIf="FirstName.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="FirstName.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FirstName.hasError('required') && !FirstName.hasError('minlength')
                                                          && FirstName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label>
              <input matInput id="FatherName" formControlName="FatherName" required />
              <mat-error *ngIf="FatherName.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="FatherName.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FatherName.hasError('required') && !FatherName.hasError('minlength')
                                                          && FatherName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label>
              <input matInput id="GrandName" formControlName="GrandName" />
              <mat-error *ngIf="GrandName.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="GrandName.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!GrandName.hasError('required') && !GrandName.hasError('minlength')
                                                          && GrandName.hasError('pattern')">
                {{'common.validation.UseEthiopicOnly' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field>
              <mat-label>{{'investors.editor.FirstNameEng' | translate }}</mat-label>
              <input matInput formControlName="FirstNameEng" required />
              <mat-error *ngIf="FirstNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="FirstNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FirstNameEng.hasError('required') && !FirstNameEng.hasError('minlength')
                                                          && FirstNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.FatherNameEng' | translate }} </mat-label>
              <input matInput formControlName="FatherNameEng" required />
              <mat-error *ngIf="FatherNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="FatherNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!FatherNameEng.hasError('required') && !FatherNameEng.hasError('minlength')
                                                          && FatherNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'investors.editor.GrandNameEng' | translate }} </mat-label>
              <input matInput  formControlName="GrandNameEng" />
              <mat-error *ngIf="GrandNameEng.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
              <mat-error *ngIf="GrandNameEng.hasError('minlength')">
                {{'common.validation.MinLengthChar' | translate: {'min': '2'} }}
              </mat-error>
              <mat-error *ngIf="!GrandNameEng.hasError('required') && !GrandNameEng.hasError('minlength')
                                                          && GrandNameEng.hasError('pattern')">
                {{'common.validation.UseLatinOnly' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em" class="col5">
              <mat-label>{{'investors.editor.Gender' | translate}}</mat-label>
              <mat-select formControlName="Gender" required [compareWith]="compareIds">
                <mat-option *ngFor="let gender of genders" [value]="gender.Id">
                  {{gender.Desc}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Gender.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2em" class="profile-registration">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label>
              <mat-select formControlName="Nationality" [compareWith]="compareIds">
                <mat-option *ngFor="let country of nationList" [value]="country.id">
                  <span>{{country.descriptionEnglish}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="Nationality.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <h4 class="sub-header mt-2">{{'investors.editor.MangerAddress' | translate}}</h4>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Region' | translate}}</mat-label>
              <mat-select formControlName="RegionId" [compareWith]="compareIds"
                (selectionChange)="filterRegion($event.value)" required>
                <mat-option *ngFor="let reg of regions" [value]="reg.RegionId">
                  <span>{{reg.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="RegionId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Zone' | translate}}</mat-label>
              <mat-select formControlName="ZoneId" (selectionChange)="filterZone($event.value)">
                <mat-option *ngFor="let zone of filteredZones" [value]="zone.ZoneId">
                  <span>{{zone.Description}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ZoneId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.WoredaAmharic' | translate}}</mat-label>
              <!-- <input matInput formControlName="Woreda" required />
                <mat-error *ngIf="WoredaId.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error> -->
              <mat-select formControlName="WoredaId" required (selectionChange)="filterWoreda($event.value)"
                [compareWith]="compareIds">
                <mat-option *ngFor="let w of filteredWoredas" [value]="w.WoredaId">
                  <span>{{w.Description}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field fxLayoutGap="4em">
                <mat-label>{{'investors.editor.WoredaEnglish' | translate}}</mat-label>
                <input matInput formControlName="WoredaEngId" required />
                <mat-error *ngIf="WoredaEngId.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error>
              </mat-form-field> -->
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleAmharic' | translate}}</mat-label>
              <mat-select formControlName="KebeleId">
                <mat-option *ngFor="let keb of filteredKebeles" [value]="keb.KebeleId">
                  <span>{{keb.Description}}</span>
                </mat-option>
              </mat-select>
              <!-- <input matInput formControlName="Kebele" required />-->
              <mat-error *ngIf="KebeleId.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <!-- <mat-form-field fxLayoutGap="4em">
                <mat-label>{{'investors.editor.KebeleEnglish' | translate}}</mat-label>
                <input matInput formControlName="KebeleEngId" required />
                <mat-error *ngIf="KebeleEngId.hasError('required')">
                  {{'common.validation.Required' | translate}}
                </mat-error>
              </mat-form-field> -->
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.HouseNo' | translate}}</mat-label>
              <input matInput formControlName="HouseNo" required />
              <mat-error *ngIf="HouseNo.hasError('required')">
                {{'common.validation.Required' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Email' | translate}}</mat-label>
              <input matInput formControlName="Email" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneDirect' | translate}}</mat-label>
              <input matInput formControlName="Tele" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneMobile' | translate}}</mat-label>
              <input matInput formControlName="MobilePhone" required />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Fax' | translate}}</mat-label>
              <input matInput formControlName="Fax" />
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Pobox' | translate}}</mat-label>
              <input matInput formControlName="PoBox" />
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="2em">
            <mat-form-field [fxFlex]="41">
              <mat-label>{{'investors.editor.OtherAddress' | translate}}</mat-label>
              <input matInput formControlName="OtherAddress" width="800px" />
            </mat-form-field>
          </div>
          <mat-card-actions fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="create()"
              [disabled]="profileForm.invalid">{{'common.commands.Save'|translate}}</button>
          </mat-card-actions>
        </form>
      </div>
      <!-- SECOND FORM STARTS HERE -->
    </mat-card-content>
  </mat-card>
</mat-card>