<!--<mat-card style="margin: 20px;" *ngIf="1==1" class="dashboard-card">

  <mat-card-content class="dashboard-card-content">-->

    <mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

    <mat-card class="border" style="margin-top: 20px;" *ngIf="selectedBranchList.length==0">


      <mat-card-subtitle class="sub-title">Commertial Registration Branch
        <mat-divider></mat-divider>
      </mat-card-subtitle>

    <mat-table #table [dataSource]="dataSource" *ngIf="selectedBranchList.length==0">

      <ng-container matColumnDef="RegionID">
        <mat-header-cell *matHeaderCellDef>Region  </mat-header-cell>
        <mat-cell *matCellDef="let RegistrationBranchList">
          {{RegistrationBranchList?.RegionName}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Zone">
        <mat-header-cell *matHeaderCellDef>Zone  </mat-header-cell>
        <mat-cell *matCellDef="let RegistrationBranchList">
       {{RegistrationBranchList?.ZoneName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="WoredaID">
        <mat-header-cell *matHeaderCellDef>Subcity/Woreda </mat-header-cell>
        <mat-cell *matCellDef="let RegistrationBranchList">
          {{RegistrationBranchList?.WoredaName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="HouseNo">
        <mat-header-cell *matHeaderCellDef>House No   </mat-header-cell>
        <mat-cell *matCellDef="let RegistrationBranchList">
            {{RegistrationBranchList.HouseNo }}
          </mat-cell>
        </ng-container>


      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>

        <mat-cell *matCellDef="let RegistrationBranchList">

          <mat-checkbox [value]="RegistrationBranchList?.AddressId"
                        [checked]="RegistrationBranchList.selected"
                        (change)="onBussinessBranchControlChanged($event,selectedBranchList)">
          </mat-checkbox>

        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    </mat-card>
<mat-card class="border" style="margin-top: 20px;" *ngIf="selectedBranchList.length">
<mat-card-subtitle class="sub-title">Bussiness Registration Branch
  <mat-divider></mat-divider>
</mat-card-subtitle>

    <mat-table #table [dataSource]="dataSourceBranch" >

      <ng-container matColumnDef="RegionID">
        <mat-header-cell *matHeaderCellDef>ክልል  </mat-header-cell>
        <mat-cell *matCellDef="let selectedBranchList">
          {{selectedBranchList?.RegionName}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Zone">
        <mat-header-cell *matHeaderCellDef>ዞን  </mat-header-cell>
        <mat-cell *matCellDef="let selectedBranchList">
          {{selectedBranchList?.ZoneName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="WoredaID">
        <mat-header-cell *matHeaderCellDef>ክፍለ ከተማ </mat-header-cell>
        <mat-cell *matCellDef="let selectedBranchList">
          {{selectedBranchList?.WoredaName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="HouseNo">
        <mat-header-cell *matHeaderCellDef>የቤት ቁጥር   </mat-header-cell>
        <mat-cell *matCellDef="let selectedBranchList">
          {{selectedBranchList.HouseNo }}
        </mat-cell>
      </ng-container>


     <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>

        <mat-cell *matCellDef="let selectedBranchList">
            <a class="margin-10 a-link pointer" matTooltip="Delete Bussiness Branch"
             (click)="DeleteBussinessBranch(selectedBranchList.AddressId)">
              <mat-icon color="warn"></mat-icon>
            <!--<mat-icon color="primary"></mat-icon>-->
          <span>Delete</span>
          </a>
          <!--<mat-checkbox [value]="selectedBranchList?.MainGuid"
                        [checked]="selectedBranchList.selected"
                        (change)="onBussinessBranchControlChanged($event,selectedBranchList)">
          </mat-checkbox>-->

        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsBranch">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsBranch;">
      </mat-row>
    </mat-table>
</mat-card>



