<div class="mat-elevation-z8" style="margin: 15px;">
  <mat-form-field style="width: 150px;margin: 15px;">
    <mat-label>{{'invActivity.Sector' | translate}}</mat-label>
    <mat-select  [compareWith]="compareIds" (selectionChange)="filterSector($event.value)" required>
      <option value="0">--Select--</option>
      <mat-option *ngFor="let sector of sectorModels" [value]="sector.SectorId">
        <span>{{sector.DescriptionEnglishAlias}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 150px;margin: 15px;">
    <mat-label>{{'invActivity.subSector' | translate}}</mat-label>
    <mat-select  [compareWith]="compareIds" (selectionChange)="filterSubSector($event.value)" required>
      <option value="0">--Select--</option>
      <mat-option *ngFor="let subsector of fillterssubsectorModels" [value]="subsector.SubSectorId">
        <span>{{subsector.DescriptionEnglishAlias}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 150px;margin: 15px;">
    <mat-label>{{'invActivity.Activity' | translate}}</mat-label>
    <mat-select  [compareWith]="compareIds" required (selectionChange)="filterActivity($event.value)">
      <option value="0">--Select--</option>
      <mat-option *ngFor="let activity of filltersActivityModels" [value]="activity.ActivityId">
        <span>{{activity.DescriptionEnglishAlias}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50px">Id</mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="50px"> {{row.InvActivityId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Activity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Activity.DescriptionEnglishAlias}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.DescriptionAlias}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DescriptionEnglish">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description English</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.DescriptionEnglishAlias}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="100px">
          <button mat-button color="primary" (click)="editInvActivity()">
            <mat-icon class="mat-button-icon">add</mat-icon>
            {{'common.commands.Add' | translate}}
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let invactivitys" fxFlex="100px">
          <button mat-icon-button (click)="editInvActivity(invactivitys)" type="button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="confirmDelete(invactivitys)" type="button">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
