<mat-toolbar mat-dialog-title>
  <h1 mat-dialog-title>
    <mat-icon>create</mat-icon>
    {{('service.Header' | translate)}}
  </h1>
</mat-toolbar>
<mat-card class="mat-elevation-z8">
  <br/>
  <br/>

  <mat-card-content>
    <form #form="ngForm" [formGroup]="servicesForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column"
          autocomplete="off">
      <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
        <mat-form-field>
          <mat-label>{{'service.Name' | translate}}</mat-label>
          <input matInput formControlName="cName" required maxlength="50" minlength="3"/>
          <mat-error *ngIf="Name.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="Name.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'150'} }}
          </mat-error>
          <mat-error *ngIf="Name.hasError('minlength')">
            {{'common.validation.MinLengthChar' | translate: {'min':'3'} }}
          </mat-error>
          <mat-error *ngIf="Name.hasError('pattern')">
            {{'common.validation.UseEthiopicOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'service.DisplayName' | translate}}</mat-label>
          <input matInput formControlName="cDisplayName" required maxlength="50" minlength="3"/>
          <mat-error *ngIf="DisplayName.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="DisplayName.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'150'} }}
          </mat-error>
          <mat-error *ngIf="DisplayName.hasError('minlength')">
            {{'common.validation.MinLengthChar' | translate: {'min':'3'} }}
          </mat-error>
          <mat-error *ngIf="DisplayName.hasError('pattern')">
            {{'common.validation.UseEthiopicOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'service.DisplayNameEnglish' | translate}}</mat-label>
          <input matInput formControlName="cDisplayNameEnglish" required required maxlength="62" minlength="3"/>
          <mat-error *ngIf="DisplayNameEnglish.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="DisplayNameEnglish.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'150'} }}
          </mat-error>
          <mat-error *ngIf="DisplayNameEnglish.hasError('minlength')">
            {{'common.validation.MinLengthChar' | translate: {'min':'3'} }}
          </mat-error>
          <mat-error *ngIf="DisplayNameEnglish.hasError('pattern')">
            {{'common.validation.UseLatinOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'service.NameEnglish' | translate}}</mat-label>
          <input matInput formControlName="cNameEnglish" required required maxlength="62" minlength="3"/>
          <mat-error *ngIf="NameEnglish.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="NameEnglish.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'150'} }}
          </mat-error>
          <mat-error *ngIf="NameEnglish.hasError('minlength')">
            {{'common.validation.MinLengthChar' | translate: {'min':'3'} }}
          </mat-error>
          <mat-error *ngIf="NameEnglish.hasError('pattern')">
            {{'common.validation.UseLatinOnly' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
        <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
          <mat-checkbox formControlName="cIsActive">
            IsActive?
          </mat-checkbox>
        </div>
      </div>
      <div mat-dialog-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary" style="margin: 15px;">
          Save
        </button>
        <button mat-raised-button (click)="onBack()" color="warn" type="button">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

