<form [formGroup]="letterForm" novalidate>
  <mat-card class="margin-2 margin-top-20">

    <div fxFlex="25" style="float: right;">
      <div fxFlex="25" style="float: right;margin-right: 20px;">
        <span *ngIf="ShowSave">
          <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
          <mat-divider></mat-divider>
        </span>
      </div>
      <span *ngIf="isForDetails">
        <button mat-raised-button="" color="primary" *ngIf="enableButtonGenerate" (click)="generatePDF()">Generate
          Letter</button>
      </span>
      <mat-divider></mat-divider>
    </div>
    <span *ngIf="attachment">
          <mat-form-field [fxFlex]="20">
            <mat-label>Attachment</mat-label>
            <input type="text" matInput required formControlName="Attachment">
            <mat-error *ngIf="Attachment.hasError('pattern')">
              Only neumbric charcters are allowed!
            </mat-error>
            <mat-error *ngIf="!Attachment.hasError('maxlength')">
              Maximum charcters length is 2!
            </mat-error>
          </mat-form-field>
        </span>

    <span *ngIf="isForDetails">
      <button mat-raised-button="" color="primary" *ngIf="enableButtonGenerate"
              (click)="generatePDF()">Generate Letter</button>
        </span>
    <div fxFlex="25" style="float: right;margin-right: 20px;">
        <span *ngIf="ShowSave">
        <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
        <mat-divider></mat-divider>
          </span>
    </div>

    <!--apiKey="4yzxfc219romk1dtk7h8c9q8zci4aj73ls684uxob669uvo4"-->
    <!--    <editor id="letterContent" apiKey="vjqlb0zduwhi2tlmowu26x439bchzpwpe0pu5es07n6hpryn" class="full-width"-->
    <!--      formControlName="LetterContent" [init]="{plugins: 'print',-->
    <!--            height : 600,-->
    <!--            theme: 'modern',-->
    <!--            toolbar_items_size: 'small'}">-->

    <!--    </editor>-->

  </mat-card>

  <ejs-richtexteditor id='defaultRTE' [value]='rteValue' [placeholder]='placeholder' [showCharCount]='true'>
  </ejs-richtexteditor>
</form>
<mat-card class="margin-2 padding-0" style="width: 920px">
  <mat-card-header>
    <mat-card-subtitle class="sub-title">List of Letters
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="spinner-container" *ngIf="loading ">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="LetterType">
        <mat-header-cell *matHeaderCellDef fxFlex="35">Letter Type</mat-header-cell>
        <mat-cell *matCellDef="let LetterModels" fxFlex="35">
          {{LetterModels.LetterType | lookupPipe : 1}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="RequestDate">
        <mat-header-cell *matHeaderCellDef fxFlex="25">Request Date</mat-header-cell>
        <mat-cell *matCellDef="let LetterModels" fxFlex="25">
          {{LetterModels.RequestDate | date:'MM/dd/yyyy'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell fxFlex="18" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell fxFlex="18" *matCellDef="let LetterModels;let i=index;">
          <div>
            <a class="pointer" mat-min-fab matTooltip="Click here to edit the product"
               (click)="onEditLetter(i)">
              <mat-icon color="primary" class="mat-18">edit</mat-icon>
              Edit
            </a>
            <a class="pointer" mat--mini-fab color="warn" matTooltip="Click here to delete the product"
               (click)="deleteLetter(i,LetterModels.LetterId)">
              <mat-icon color="warn">delete</mat-icon>
              Delete
            </a>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>


