<mat-tab-group #stepper>
    <mat-tab label="Service Information" *ngIf="!serviceId && serviceApplicationId==0">
        <ng-template matTabContent>
            <app-service-requirement></app-service-requirement>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn">
                        {{'common.commands.Cancel' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Start' | translate}}</button>

                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Request List" *ngIf="serviceId">
        <ng-template matTabContent>
            <mat-card class="margin-2 simple-card">
                <mat-card-header>
                    <!-- <mat-card-subtitle class="sub-title"></mat-card-subtitle> -->
                    <!-- <button class="margin-10 certificate-title" mat-raised-button="" (click)="addMessage()"
                        color="primary">
                        Add Message
                    </button> -->
                </mat-card-header>
            </mat-card>
            <app-service-requirement></app-service-requirement>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" (click)="backToDashBoard()" mat-stroked-button color="warn">
                        {{'common.commands.Cancel' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Start' | translate}}</button>

                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Profile">
        <ng-template matTabContent>
            <app-project-profile></app-project-profile>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Input">
        <ng-template matTabContent>
            <app-input></app-input>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Raw Material">
        <ng-template matTabContent>
            <app-raw-material></app-raw-material>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="cost">
        <ng-template matTabContent>
            <app-cost></app-cost>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Employment">
        <ng-template matTabContent>
            <app-employment></app-employment>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Share">
        <ng-template matTabContent>
            <app-share></app-share>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Product">
        <ng-template matTabContent>
            <app-product></app-product>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Document">
        <ng-template matTabContent>
            <app-document></app-document>
            <mat-card-footer class="mt-4 p-3">
                <div fxFlex="100" fxLayoutAlign="end" class="mt-2" fxLayoutGap="5px">
                    <button type="button" mat-stroked-button color="warn" (click)="back()">
                        {{'common.commands.Back' | translate}}</button>
                    <button [disabled]="false" type="button" mat-raised-button (click)="next()"
                        color="primary">{{'common.commands.Next' | translate}}</button>
                    <!-- <button [disabled]="false" *ngIf="!serviceId" type="button" mat-raised-button (click)="finish()"
                        color="primary">{{'common.commands.Finish' | translate}}
                    </button> -->
                    <button [disabled]="false" *ngIf="serviceId" type="button" mat-raised-button (click)="complete()"
                        color="primary">{{'common.commands.Complete' | translate}}
                    </button>
                </div>
            </mat-card-footer>
        </ng-template>
    </mat-tab>
    <mat-tab label="Confirmation">
        <ng-template matTabContent>
            <app-conformation-message></app-conformation-message>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<!-- <h2>Hello world</h2> -->